
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Rock+Salt&display=swap');



body {
    background: url(https://images.unsplash.com/photo-1513151233558-d860c5398176?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D), rgba(0, 0, 0, 0.65);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    font-family: 'Caveat Brush';
    color: white;
}

.instructions {
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px 450px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#myForm {
    background-color: #f6318c;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin:  10px 300px;
    border: 1px solid #f6318c;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#myForm input, #myForm textarea {
   padding: 10px;
   border-radius: 5px;
   border: 1px #fff2be;
   background-color: #fff2be;

}

#myForm textarea {
    resize: -internal-textarea-auto;
    overflow: scroll;
}

button[type="submit"] {
    background-color: pink;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button[type="submit"]:hover {
    background-color: #a0eecc;
    color: black;
   
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;

}

.card {
    background-color: rgba(161,253,255, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    animation: fadeInAnimation ease-in-out 3s;

}

.card img {
    display: flex;
    width: 100%;
    border-radius: 4px;
    border: 1px solid grey;
    height: 300px;
    justify-content: center;
    background-color: white;

}

.card h3 {
    margin-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.card p {
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.feature-btn {
    background-color: rgb(30, 9, 101);
    color: white;
    margin-top: 15px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.delete-btn {
    background-color: #fff2be;
    color: black;
    margin-top: 15px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.button-section {
    display: flex;
    justify-content: space-evenly;
}

.feature {
    box-shadow: 0 0 10px rgb(223, 233, 86);
    font-weight: bold;
}


@keyFrames fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
